{% extends 'base.html.twig' %}

{% block title %}Hello LivresController!{% endblock %}

{% block body %}
<h1>Bienvene sur notre SymBook</h1>
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, rem tempore. Alias debitis fuga iure nam
        nostrum, odit quam rerum tempore vel! Cupiditate distinctio eum laboriosam laborum nam natus veritatis.
    </div>
    <div>Assumenda, magnam, vero! Facere itaque iusto necessitatibus porro quos suscipit, voluptas. Delectus deserunt
        enim error excepturi inventore laborum magni maxime neque nulla officia officiis omnis quis saepe sed sequi,
        tenetur.
    </div>
    <div>Aperiam, deleniti dicta, est id illum itaque labore maxime nam nemo nesciunt odit omnis, recusandae reiciendis
        repellat totam! Dolorem fuga incidunt labore laboriosam laudantium, mollitia natus officia praesentium tenetur!
        Odit!
    </div>
    <div>Aliquid asperiores assumenda aut commodi, consequatur deleniti doloremque dolorum ea eveniet ex, impedit maxime
        minus natus nesciunt nihil odit pariatur porro quam quibusdam repudiandae sequi suscipit tempore temporibus
        veniam voluptatem.
    </div>
    <div>Autem dignissimos eligendi ipsum, nisi officiis repudiandae tempora veritatis. Ad, beatae molestiae. Assumenda
        commodi consectetur culpa, cumque, fugiat illo illum, ipsam laboriosam maiores officia optio placeat porro quae
        quod suscipit.
    </div>
    <div>Autem eius modi praesentium quos? Ad aliquid aperiam architecto assumenda, at doloribus dolorum eaque eveniet
        in laboriosam magni nihil nobis, quam quasi repudiandae rerum sapiente sed sunt ut velit! Et!
    </div>
    <div>A aspernatur deserunt ea ipsa possimus rem, voluptatem. Animi, atque blanditiis dolorum enim illo illum iusto
        laborum nobis pariatur perferendis placeat quae quaerat quisquam recusandae saepe tenetur veniam voluptates
        voluptatum!
    </div>
    <div>A accusantium illum laborum praesentium provident, recusandae repellat temporibus voluptatum. Ex, magni
        numquam. A accusamus amet assumenda atque corporis eaque eius et hic incidunt, maiores nulla quibusdam sed sequi
        voluptatum?
    </div>
    <div>Adipisci animi aperiam architecto at blanditiis consectetur dicta dolore eius facilis id illo illum, laborum
        libero minus nostrum numquam odio perferendis perspiciatis placeat praesentium quidem saepe sequi soluta unde
        voluptates.
    </div>
    <div>Ab consequatur exercitationem iure libero nemo placeat quis quisquam, recusandae rerum tenetur. A assumenda
        earum exercitationem expedita, magnam numquam omnis quidem quo unde velit. Deserunt distinctio dolorem enim quod
        sint!
    </div>
    <div>Amet consequuntur cum obcaecati officia officiis perspiciatis sed voluptatem! Ad alias architecto asperiores
        beatae cumque debitis earum eligendi est fuga, fugit mollitia necessitatibus odio perferendis perspiciatis, quas
        qui quidem similique!
    </div>
    <div>Accusantium adipisci asperiores debitis distinctio ducimus ea eligendi error et ex excepturi id itaque iure
        maiores minima minus molestiae necessitatibus nisi quas qui quisquam, repudiandae sed suscipit tempora unde
        voluptates.
    </div>
    <div>Aliquam, animi aperiam beatae debitis deleniti distinctio eius eos nemo neque possimus quia reiciendis,
        reprehenderit soluta tempora unde vel vitae. Alias corporis error harum incidunt necessitatibus porro,
        praesentium quos veritatis.
    </div>
    <div>Dolor harum impedit optio quos velit! A animi atque, commodi delectus dolorum ducimus eius eveniet, iure
        laborum magnam magni mollitia officiis omnis optio perferendis quaerat quam repellendus repudiandae tempora
        temporibus.
    </div>
    <div>Assumenda eaque fugiat harum hic in natus nisi quibusdam quis quisquam veritatis. Doloribus eius esse, et
        eveniet facere inventore molestiae nostrum, optio quam quos sed suscipit tempore! Cupiditate, incidunt,
        suscipit?
    </div>
{% endblock %}
